{% extends 'homebase.html' %}

{% block title %} Shopcart {% endblock %}
{% block description %}  {% endblock %}
{% block keywords %}  {% endblock %}


{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}


	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">shopcart</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
						<div class="order-summary clearfix">
							{% if messages %}

								  {% for message in messages %}
										<div class="alert alert-{{ message.tags }}" role="alert">
											{{ message }}
										</div>
								  {% endfor %}
								{% endif %}
							<div class="section-title">
								<h3 class="title">Shopcart products List</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th></th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>

										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>

								 {% for rs in shopcart %}
									<tr>
										<td class="thumb"><img src="{{ rs.product.image.url }}" alt=""></td>
										<td class="details">
											<a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>

										</td>
										<td class="price text-center"><strong>BIF {{ rs.product.price }}</strong></td>
										<td class="qty text-center"><strong>{{ rs.quantity }}</strong></td>
										<td class="total text-center"><strong class="primary-color">BIF {{ rs.amount }}</strong></td>
										<td class="text-right"><a  href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm ('Are you sure you want to delete this from your cart?')" class="main-btn icon-btn"><i class="fa fa-close"></i></a></td>
									</tr>
								{% endfor %}
								 <tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SUBTOTAL</th>
										<th colspan="2" class="sub-total">BIF {{ total }}</th>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SHIPING</th>
										<td colspan="2">Free Shipping</td>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>TOTAL</th>
										<th colspan="2" class="total">BIF {{ total }}</th>
									</tr>
								</tfoot>



								</tbody>

							</table>
                                   <div class="pull-right">
								      <a href="/order/orderproduct/" class="primary-btn">Place Order</a>
							      </div>
								</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}